@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}
.my-container {
  max-width: 1600px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.font-family-press {
  font-family: "press start 2P";
}
.font-family-plex {
  font-family: "IBM plex mono";
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.fs-16 {
  font-size: 16px;
}
.fs-28 {
  font-size: 28px;
}
.fs-37 {
  font-size: 37px;
}
.fs-20 {
  font-size: 20px;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fs-85 {
  font-size: 85px;
}
.fw-400 {
  font-weight: 400;
}
.line {
  text-decoration: line-through red !important;
}
.txt-red {
  color: #f61529 !important;
}
.button {
  padding: 19px 21px !important;
  border-radius: 69.041px;
  background: #f61529;
  transition: all 400ms linear;
}
.button:hover {
  color: red !important;
  background: white !important ;
}
.icon {
  cursor: pointer;
}
.icon:hover svg path {
  fill: red !important;
}
.icon:hover svg circle {
  fill: white !important;
}
.img-1 {
  position: absolute;
  left: 0;
  bottom: -36px;
  z-index: -1;
}
.img-2 {
  position: absolute;
  right: 0;
  bottom: -36px;
  z-index: -1;
}
.mt-43 {
  margin-top: 33px;
}
.mt-21 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 25px;
}
p {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.vector {
  position: absolute !important;
  left: 6px;
  top: 68px;
}

@media (max-width: 576px) {
  .fs-28 {
    font-size: 18px;
  }
  .fs-85 {
    font-size: 32px !important;
  }
  .fs-20 {
    font-size: 15px;
  }
  .fs-15 {
    font-size: 10px;
  }
  .fs-37 {
    font-size: 20px;
  }
  .mt-43 {
    margin-top: 18px;
  }
  .w-20 {
    width: 20%;
  }
  .w_80 {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .fs-85 {
    font-size: 50px;
  }
  .fs-28 {
    font-size: 16px;
  }
  .fs-20 {
    font-size: 17px;
  }
  .fs-15 {
    font-size: 11px !important;
  }
  .w_80 {
    width: 80%;
  }
  .mt-43 {
    margin-top: 21px;
  }
}
@media (max-width: 992px) {
  .fs-28 {
    font-size: 18px;
  }
  .fs-85 {
    font-size: 68px;
  }
  .fs-20 {
    font-size: 18px;
  }
  .fs-15 {
    font-size: 13px;
  }
  .w_80 {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  .fs-37 {
    font-size: 30px;
  }
  .fs-14 {
    font-size: 12px;
  }
  .w-20 {
    width: 20%;
  }
  .vector {
    position: absolute !important;
    left: 6px;
    top: 112px;
  }
}
